
<div class="container">
    <div class="bg-light m-5 p-5 opacity">

        <h1 class="text-center text-danger font-weight-bold">
            חנות הממתקים שלנו
        </h1>
        <br />
        <hr />
        <br />
        <p style="direction:rtl; text-align:right;" class="text-danger">
            נסעתם לחו"ל ושכחתם לקנות מתנה?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            נסעתם לחו"ל ושכחתם לקנות מתנה?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            מחפשים מתנות לעובדים ולא יודעים מה לקנות?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            התעייפתם מלאכול את אותם ממתקים ובא לכם משהו באווירה של חו"ל?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            בשביל זה אנחנו כאן!
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            נעים מאוד! מידולסה זו החנות הראשונה מסוגה בארץ אשר מתמחה ומשווקת אך ורק מוצרים וממתקים מחו"ל.
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            במידולסה תוכלו למצוא מגוון רחב של שוקולדים,דגני בוקר,וממתקים ממיטב המותגים אשר יאפשרו לכם לתת קפיצה קטנה לחו"ל מבלי לצאת מהארץ.
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            בנוסף תוכלו למצוא מתנות ומארזים מעוצבים לימי הולדת, מתנות לעובדים, מתנות לבני זוג, מתנות למורים, גננות ועוד מגוון רחב
            של מארזים לכל אירוע ובמחירים נוחים.
        </p>
        <br />
    </div>
</div>

