@model IEnumerable<Shop.Models.ProductInCart>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center p-3 mt-3 bg-light opacity rounded-1 text-danger font-weight-bold">העגלות שלי</h2>


<div class="container btn-block" style="background-color:none !important">
  <h4 class="bg-light opacity p-5 m-5 text-center text-danger" style="align-items:center; direction:rtl;">אין עגלות קודמות.</h4>
</div>



