@model IEnumerable<Shop.Models.ProductInCart>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center p-3 mt-3 bg-light opacity rounded-1 text-danger font-weight-bold">העגלה שלי</h2>

<p>
    <a class="btn btn-light text-danger opacity rounded-0" asp-controller="Products" asp-action="Index">הוסף מוצר נוסף</a>
</p>

<div class="container btn-block" style="background-color:none !important">
  <h4 class="bg-light opacity p-5 m-5 text-center text-danger" style="align-items:center; direction:rtl;">העגלה ריקה יש להוסיף מוצרים.</h4>
</div>



